* {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #999
}

h4 {
    font-weight: bold;
}

aside {
    background-color: #EEE;
}

section>nav>.nav-link:hover {
    background-color: #0d6efd;
    color: #fff;
}

.maxWidth {
    max-width: 75%;
}