* {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #999
}

h4 {
    font-weight: bold;
}

aside {
    background-color: #EEE;
}

section>nav>.nav-link:hover {
    background-color: #0d6efd;
    color: #fff;
}

.maxWidth {
    max-width: 75%;
}

.bg-header {
    background-image: url("../img/header.jpg");
}

.bg-teint {
    background-color: rgba(255,255,255,.9);
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

